@import '/src/assets/styles/_variables.scss';

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	margin-top: 50px;

	> .wrapperInner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 35px;

		width: 100%;
		max-width: 70%;
		border-radius: 30px;
		box-shadow: $bx-16;

		padding: 50px 70px;

		> .titleAdd {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			position: relative;
			> p {
				color: $blue-dark;
				font-size: 28px;
				font-weight: 600;
				line-height: 100%;
			}
			> a {
				position: absolute;
				left: -40px;
				top: 2px;
				> svg {
					width: 24px;
					height: 24px;
					fill: $blue-dark;

					transition: $transition;

					&:hover {
						fill: $blue;
					}
				}
			}
		}

		.slider {
			width: 100%;
		}
	}
}

.preloadBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 100vh;
}
